body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #f8f9fa, #eef2f3);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

button {
  cursor: pointer;
  border-radius: 6px;
  border: none;
  padding: 8px 14px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}

img {
  border-radius: 10px;
}
